@use '../../var' as *;

.top {
  width: 100%;
  display: grid;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.scroll-infinity__list--left {
  animation: infinity-scroll-left 80s infinite linear 0.5s both;
}
.scroll-infinity__item {
  width: calc(100vw / 6);
}
.scroll-infinity__item > img {
  width: 100%;
}
.scroll-infinity__item--text {
  font-family: Comfortaa, cursive;
  width: calc(500vw / 3);
  font-size: 15rem;
  color: #222;
}
