@use '../../var' as *;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.3s ease-in-out;

  &--hidden {
    transform: translateY(-100%);
  }

  &__main {
    margin-inline: rem(10);
    padding-block: rem(15);
    display: grid;
    place-items: center;
    grid-template:
      '  icon   '
      '  .....  ' rem(24)
      '  search  '
      / auto;

    @include mq(md) {
      grid-template:
        '  icon search  ' rem(40)
        / auto 1fr;
    }

    &__icon {
      grid-area: icon;

      &__name {
        font-size: rem(32);

        &--change {
          letter-spacing: rem(-12);
        }

        &--last {
          margin-left: rem(12);
        }
      }
    }

    &__search {
      grid-area: search;
      margin-inline: auto;
      border-radius: rem(15);
      font-size: rem(14);

      @include mq(lg) {
      }

      &__form {
        display: flex;
        align-items: center;
        position: relative;

        &__input {
          display: flex;
          padding-inline: rem(32) rem(12);
          padding-block: 0;
          border: rem(1) $gray-blue solid;
          border-right: transparent;
          border-radius: rem(15) 0 0 rem(15);
          width: rem(200);
          height: rem(38);

          @include mq(md) {
            width: rem(400);
          }

          @include mq(lg) {
            width: rem(600);
          }
        }

        &__button {
          color: $secondary;
          background: $tertiary;
          line-height: rem(20);
          padding: rem(8) rem(16);
          justify-content: center;
          align-items: center;
          height: rem(40);
          display: inline-flex;
          border-radius: 0 rem(15) rem(15) 0;
          text-transform: none;
          border: rem(1) $gray-blue solid;

          &__icon {
            width: rem(16);
            height: rem(16);
            display: block;
          }
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;

    &__link {
      list-style: none;
      display: inline-block;
      padding: 0 rem(20);
    }
  }
}
