@use '../../var' as *;

.header {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__main {
    margin-inline: rem(10);
    padding-block: rem(15);
    display: grid;
    place-items: center;
    grid-template:
      '  icon   '
      '  .....  ' rem(24)
      '  input  '
      / auto;

    @include mq(md) {
      grid-template:
        '  icon ... input  ' rem(40)
        / auto rem(8) 1fr;
    }

    &__icon {
      grid-area: icon;
      margin: 0 rem(10);

      &__name {
        font-size: rem(32);

        &--change {
          letter-spacing: rem(-12);
        }

        &--last {
          margin-left: rem(12);
        }
      }
    }

    &__search {
      grid-area: input;
      margin-inline: auto;
      padding-inline: rem(16);
      border: rem(1) $gray-blue solid;
      border-radius: rem(10);
      height: rem(40);
      width: 80%;

      @include mq(md) {
        width: rem(400);
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;

    &__link {
      list-style: none;
      display: inline-block;
      padding: 0 rem(20);
    }
  }
}
