@use '../../var' as *;

.header {
  padding: rem(10) 0;
  max-width: 100%;

  &__main {
    display: flex;
    align-items: center;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 rem(10);

      &__name {
        font-size: rem(32);

        &--change {
          letter-spacing: rem(-12);
        }

        &--last {
          margin-left: rem(12);
        }
      }
    }

    &__search {
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: rem(1) $gray-blue solid;
      border-radius: rem(10);
      height: rem(40);

      &__input {
        width: rem(650);
        padding: 10px;
      }

      &__button {
        color: $secondary;
        background: $tertiary;
        width: rem(48);
        height: rem(40);
        border-radius: 0 10px 10px 0;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;

    &__link {
      list-style: none;
      display: inline-block;
      padding: 0 rem(20);
    }
  }
}
