@use '../../../var' as *;

.top__sidebar {
  grid-area: topSidebar;
  margin-inline: auto;

  &__profile {
    margin: rem(25);
    border: rem(1) $gray-blue solid;
    padding: rem(10) rem(25) rem(25);
    background-color: $secondarybg;

    &__card {
      width: rem(250);
      height: auto;
      margin-inline: auto;
      margin-block: rem(20);
      padding: rem(30) rem(15);
      box-shadow:
        0 rem(10) rem(15) -rem(3) #0000004d,
        0 rem(4) rem(6) -rem(2) #00000026;
      background-color: $primarybg;
      border-radius: rem(20);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all 1s ease;
      perspective: rem(1000);

      @include hover {
        .top__sidebar__profile__card__status {
          transform: rotateY(180deg);
        }
        .top__sidebar__profile__card__triangle {
          border-top: rem(15) solid $primary;
          bottom: rem(8);
          left: rem(8);
          transition: all 0.3s;
        }
        .top__sidebar__profile__card__icon {
          & img {
            transform: scale(1);
          }
        }
      }

      &__triangle {
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: rem(5);
        left: rem(5);
        border-left: rem(15) solid transparent;
        border-top: rem(15) solid $gray;
        transition: all 0.3s;
      }

      &__icon {
        width: rem(75);
        height: rem(75);
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        right: rem(15);
        transform: translateY(-50%);
        box-shadow: 0 rem(3) rem(15) rgba($primaryfc, 0.1);
        cursor: pointer;

        & img {
          width: 100%;
          height: auto;
          display: flex;
          transition: all 0.5s ease-in-out;
          transform: scale(0.8);
        }
      }

      &__status {
        transition: transform 0.6s;
        transform-style: preserve-3d;
        width: rem(145);
        height: 100%;
        text-align: center;

        &__front {
          backface-visibility: hidden;

          &__name {
            font-size: rem(24);

            &--change {
              letter-spacing: rem(-9);
            }

            &--last {
              margin-left: rem(9);
            }
          }

          &__state {
            font-size: rem(12);
            margin-top: rem(5);
            color: $gray;

            &__age {
              color: $gray;
            }

            &__school {
              color: $gray;
              &::before {
                content: ', ';
              }
            }
          }
        }

        &__back {
          backface-visibility: hidden;
          position: absolute;
          top: 50%;
          left: 0;
          transform: rotateY(180deg) translateY(-50%);
          &__description {
            font-size: rem(12);
          }
        }
      }
    }

    &__link {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(8);

      a {
      }

      &__media {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: rem(14);
        background: #fff;
        padding: rem(8) rem(6);
        border-radius: rem(2);
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include hover {
          box-shadow:
            0 rem(5) rem(10) -rem(3) #0000004d,
            0 rem(4) rem(6) -rem(2) #00000026;

          & svg {
            transform: scale(1.2);
          }
        }

        &::after {
          margin-left: rem(5);
          color: $primaryfc;
          font-size: rem(12);
          transition: all 0.3s ease;
        }

        &:nth-child(1)::after {
          content: 'Twitter';
        }

        &:nth-child(2)::after {
          content: 'GreasyFork';
        }

        &:nth-child(3)::after {
          content: 'GitHub';
        }

        svg {
          width: rem(16);
          height: rem(16);
          object-fit: cover;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
